# CubeIDE ignores
**/.metadata/**
**/.settings/**

# Local files
temp.txt
documentation/**

# Unit test frameworks
tools/unity/*
tools/fff/*

# Build files
**.obj
**.o
tests/build/**
**/Debug/**
**/__pycache__/**