# CubeIDE ignores
**/.metadata/**
**/.settings/**

# Local files
temp.txt
documentation/**
source/CAN_Networking/**

# Unit test frameworks
tools/unity/*
tools/fff/*

# Build files
**.obj
**.o
tests/build/**